:root {
  --dark-text-color: #111;
  --orange: #fd9222;
  --dark-ing-card: #1e1823;
  --light-bg-color: #fafafa;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* small mobile screen version */

.uniq-comps-box {
  padding: 4.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  background-color: var(--light-bg-color);
}

.uniq-comps-text {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  align-items: center;
  text-align: center;
}

.uniq-comps-title {
  color: var(--dark-text-color);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.0375rem;
  text-transform: uppercase;
  padding: 0 1.62rem;
}

.uniq-comps-title > .orange {
  color: var(--orange);
}

.ing-text-card {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.125rem;
  letter-spacing: -0.0175rem;
  text-transform: uppercase;
  align-self: self-start;
}

.uniq-comps-desc {
  color: var(--dark-text-color);
  font-weight: 400;
  text-transform: none;
}

/* front cards */

.ings-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.ing-image {
  height: 10.6875rem;
}

.ing-image.nuts {
  width: 14rem;
  height: fit-content;
  padding-bottom: 1.9rem;
}

.ing-front-side {
  height: 16.875rem;
  border-radius: 0.9375rem;
  box-sizing: border-box;
  border: 1px solid var(--orange);
  width: 17.5rem;
}

.ing-text-card.light {
  color: white;
}

.ing-text-card.dark {
  color: var(--dark-text-color);
}

.ing-front-side.orange {
  background-color: var(--orange);
  border: none;
}

.ing-front-side.black {
  background-color: var(--dark-ing-card);
  border: none;
}

.ing-front-side.white {
  background-color: var(--light-bg-color);
}

.front-content {
  display: flex;
  flex-direction: column;
  row-gap: 1.56rem;
  justify-content: end;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1.75rem;
  box-sizing: border-box;
}

/* back cards */

.ing-back-side {
  background-color: var(--light-bg-color);
  height: 16.875rem;
  box-sizing: border-box;
  width: 17.5rem;
}

.back-content {
  display: flex;
  flex-direction: column;
  row-gap: 0.87rem;
  height: 100%;
  padding: 1.75rem;
  box-sizing: border-box;
  width: 100%;
}

.benefit-name {
  color: var(--dark-text-color);
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: -0.03375rem;
  text-transform: uppercase;
}

.benefit-desc {
  color: var(--dark-text-color);
  font-weight: 400;
  text-transform: none;
  height: 9.125rem;
  overflow: hidden;
}

.ing-benefits {
  display: flex;
  column-gap: 0.38rem;
}

.highlighted-content {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.ing-benefit {
  padding: 0.38rem 1rem;
  align-items: center;
  display: flex;
  border-radius: 2.1875rem;
}

.ing-benefit.orange {
  background-color: var(--orange);
}

.ing-benefit-text {
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 0.75rem;
}

.ing-benefit.orange > .ing-benefit-text {
  color: white;
}

.ing-benefit.white {
  background-color: var(--light-bg-color);
  border: 1px solid var(--orange);
}

.ing-benefit.white > .ing-benefit-text {
  color: var(--dark-text-color);
}

/* mobile version */

@media screen and (min-width: 375px) {
  .ing-front-side,
  .ing-back-side {
    width: 20.9375rem;
  }

  .back-content {
    width: 20.9375rem;
  }
}

/* tablet version */

@media screen and (min-width: 768px) {
  .ings-list {
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .uniq-comps-box {
    padding: 6.25rem 2rem;
  }

  .uniq-comps-text {
    width: 30.375rem;
  }

  .uniq-comps-title {
    padding: 0 2.35rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -0.045rem;
  }
}

/* desktop version */

@media screen and (min-width: 1200px) {
  .ings-list {
    gap: 1.1rem;
  }

  .front-content {
    padding-right: 2.25rem;
  }

  .ing-image {
    height: 10rem;
  }

  .ing-image.nuts {
    width: 12.875rem;
  }
}

/* cards animation */

.ing-card {
  position: relative;
}

.ing-sides {
  transform-style: preserve-3d;
  perspective: 63.5rem;
}

.ing-front-side,
.ing-back-side {
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
}

.ing-front-side {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.ing-sides:hover .ing-front-side {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.ing-back-side {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.ing-sides:hover .ing-back-side {
  /* transform: rotateY(0deg); */
  transform-style: preserve-3d;
}

.front-content,
.back-content {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 50%;
  perspective: inherit;
  /* outline: 1px solid greenyellow; */
  transform: translateY(-50%) translateZ(3.75rem) scale(0.94);
}
