:root {
  --dark-text-color: #111;
  --orange: #fd9222;
  --dark-ing-card: #1e1823;
  --white-benefit-card-bg: #fafafa;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* small mobile screen version */

.uniq-comps-box {
  padding: 4.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
}

.uniq-comps-text {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  align-items: center;
  text-align: center;
}

.uniq-comps-title {
  color: var(--dark-text-color);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.0375rem;
  text-transform: uppercase;
  padding: 0 1.62rem;
}

.uniq-comps-title > .orange {
  color: var(--orange);
}

.ing-text-card {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.125rem;
  letter-spacing: -0.0175rem;
  text-transform: uppercase;
  align-self: self-start;
}

.uniq-comps-desc {
  color: var(--dark-text-color);
  font-weight: 400;
  text-transform: none;
}

/* front cards */

.ings-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.cube-face > div {
  padding: 1.75rem;
  width: 13.4rem;
  height: 13.4rem;
  border-radius: 0.9375rem;
}

.ing-image {
  height: 10.715rem;
}

.nuts > .ing-image {
  width: 13.4rem;
  height: fit-content;
  padding-bottom: 1.9rem;
}

.ing-text-card.light {
  color: white;
}
.ing-text-card.dark {
  color: var(--dark-text-color);
}

.front.orange {
  background-color: var(--orange);
  border: none;
}

.front.black {
  background-color: var(--dark-ing-card);
  border: none;
}

.front {
  border: 1px solid var(--orange);
  display: flex;
  flex-direction: column;
  row-gap: 1.56rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nuts > .ing-text-card {
  position: absolute;
  left: 1.75rem;
  bottom: 1.75rem;
}

/* .back {
  display: none;
} */

/* back cards */

/* .front {
  display: none;
} */

.back {
  display: flex;
  flex-direction: column;
  row-gap: 0.87rem;
  border: 4px solid green;
  background-color: white;
}

.ing-name {
  color: var(--dark-text-color);
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: -0.03375rem;
  text-transform: uppercase;
}

.benefit-desc {
  color: var(--dark-text-color);
  font-weight: 400;
  text-transform: none;
}

.benefit-cards {
  display: flex;
  column-gap: 0.38rem;
}

.benefit-titles {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.benefit-card {
  padding: 0.38rem 1rem;
  align-items: center;
  display: flex;
  border-radius: 2.1875rem;
}

.benefit-card.orange {
  background-color: var(--orange);
}

.benefit-card-text {
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 0.75rem;
}

.benefit-card.orange > .benefit-card-text {
  color: white;
}

.benefit-card.white {
  background-color: var(--white-benefit-card-bg);
  border: 1px solid var(--orange);
}

.benefit-card.white > .benefit-card-text {
  color: var(--dark-text-color);
}

/* cards animation */

.cube {
  width: 16.9rem;
  height: 16.9rem;
  perspective: 50rem;
  perspective-origin: 50%;
}

.cube-face {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  position: relative;
  transition: 2s;
}

.cube-face div {
  position: absolute;
  transform: translateZ(0);
}

.front {
  transform: translateZ(8.45rem);
}

.back {
  transform: translateZ(-8.45rem) rotateY(180deg);
}

/* mobile version */

/* @media screen and (min-width: 375px) {
  .cube-face div {
    width: 20.9375rem;
    height: 16.875rem;
  }

  .nuts > .ing-image {
    width: 14rem;
  }

  .ing-image {
    height: 10.6875rem;
  }
} */

@media screen and (min-width: 768px) {
  .ings-list {
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .uniq-comps-box {
    padding: 6.25rem 2rem;
  }

  .uniq-comps-text {
    width: 30.375rem;
  }

  .uniq-comps-title {
    padding: 0 2.35rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -0.045rem;
  }
}

@media screen and (min-width: 1200px) {
  .ings-list {
    gap: 1.1rem;
  }

  .cube-face div {
    padding-right: 2.25rem;
    width: 12.9rem;
    box-sizing: content-box;
    height: 13.4rem;
  }

  .nuts > .ing-image {
    width: 12.875rem;
  }
}
