:root {
  --dark-text-color: #111;
  --orange: #fd9222;
  --dark-ing-card: #1e1823;
  --light-bg-color: #fafafa;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* small mobile screen version */

.uniq-comps-box {
  padding: 4.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  background-color: var(--light-bg-color);
}

.uniq-comps-text {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  align-items: center;
  text-align: center;
}

.uniq-comps-title {
  color: var(--dark-text-color);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.0375rem;
  text-transform: uppercase;
  padding: 0 1.62rem;
}

.uniq-comps-title > .orange {
  color: var(--orange);
}

.ing-text-card {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.125rem;
  letter-spacing: -0.0175rem;
  text-transform: uppercase;
  align-self: self-start;
}

.uniq-comps-desc {
  color: var(--dark-text-color);
  font-weight: 400;
  text-transform: none;
}

/* front cards */

.ings-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.ing-image {
  height: 10.715rem;
}

.ing-image.nuts {
  width: 13.4rem;
  height: fit-content;
  padding-bottom: 1.9rem;
}

.ing-card-front {
  width: 16.9rem;
  height: 16.9rem;
  padding: 1.75rem;
  border-radius: 0.9375rem;
  box-sizing: border-box;
  border: 1px solid var(--orange);
}

.ing-text-card.light {
  color: white;
}

.ing-text-card.dark {
  color: var(--dark-text-color);
}

.ing-card-front.orange {
  background-color: var(--orange);
  border: none;
}

.ing-card-front.black {
  background-color: var(--dark-ing-card);
  border: none;
}

.ing-card-front.white {
  background-color: var(--light-bg-color);
}

.front-content {
  display: flex;
  flex-direction: column;
  row-gap: 1.56rem;
  justify-content: end;
  align-items: center;
  height: 100%;
}

/* back cards */

.back {
  padding: 1.25rem;
  background-color: var(--light-bg-color);
}

.back-content {
  display: flex;
  flex-direction: column;
  row-gap: 0.87rem;
  height: 14.375rem;
  width: 14.375rem;
  overflow: hidden;
}

.benefit-name {
  color: var(--dark-text-color);
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: -0.03375rem;
  text-transform: uppercase;
}

.benefit-desc {
  color: var(--dark-text-color);
  font-weight: 400;
  text-transform: none;
}

.ing-benefits {
  display: flex;
  column-gap: 0.38rem;
}

.highlighted-content {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.ing-benefit {
  padding: 0.38rem 1rem;
  align-items: center;
  display: flex;
  border-radius: 2.1875rem;
}

.ing-benefit.orange {
  background-color: var(--orange);
}

.ing-benefit-text {
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 0.75rem;
}

.ing-benefit.orange > .ing-benefit-text {
  color: white;
}

.ing-benefit.white {
  background-color: var(--light-bg-color);
  border: 1px solid var(--orange);
}

.ing-benefit.white > .ing-benefit-text {
  color: var(--dark-text-color);
}

/* tablet version */

@media screen and (min-width: 768px) {
  .ings-list {
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .uniq-comps-box {
    padding: 6.25rem 2rem;
  }

  .uniq-comps-text {
    width: 30.375rem;
  }

  .uniq-comps-title {
    padding: 0 2.35rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -0.045rem;
  }
}

/* desktop version */

@media screen and (min-width: 1200px) {
  .ings-list {
    gap: 1.1rem;
  }

  .ing-card-side {
    padding-right: 2.25rem;
  }

  .ing-image.nuts {
    width: 12.875rem;
  }
}

/* cards animation */

.ing-card {
  perspective: 62.5rem;
  transform-style: preserve-3d;
  position: relative;
  height: 16.9rem;
  width: 16.9rem;
}

.ing-card-side {
  backface-visibility: hidden;
  transition: transform 0.8s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  scale: 0.9;
}

.ing-card-side.front {
  transform: translateZ(4rem);
}

.ing-card-side.back {
  transform: rotateY(-180deg) translateZ(4rem);
}

.ing-card:hover .ing-card-side.front {
  transform: rotateY(180deg) translateZ(4rem);
}

.ing-card:hover .ing-card-side.back {
  transform: rotateY(0deg) translateZ(4rem);
}

.face-stand-out {
  transform: translateZ(4rem);
  scale: 0.9;
}

.back-stand-out {
  transform: translateZ(4rem);
  scale: 0.9;
}
